<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paypal.psix" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PSixTheme"
        android:name="com.activeandroid.app.Application">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="PSix.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.paypal.psix.models.Event, com.paypal.psix.models.Rsvp, com.paypal.psix.models.User" />


        <activity
            android:name=".activities.EventsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SetupEventActivity"
            android:label="@string/label_setup_activity"
            android:parentActivityName=".activities.EventsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EventsActivity" />
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
